* {
	padding: 0;
	margin: 0;
}

body {
  font-family: helvetica;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #111;
}

.navbar {
	display: block;
	background: #222325;
	color: #fff;
	z-index: 10;
}

.navbar  .brand {
	display: flex;
	padding: 10px;
	user-select: none;
}

.navbar  .brand  #potigol-logo  img {
	width: 30px;
	border-radius: 25px;
}

.navbar  .brand  .title {
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	margin: 0 0 0 10px;
}

/* wrapper */
.wrapper #editor-potigol {
	box-sizing: border-box;
}

.wrapper  .code-editor-main  .nav-file {
	background-color: #1d1f21;
	box-sizing: border-box;
	color: #c5c8a0;
	display: flex;
}

.wrapper  .code-editor-main  .nav-file  .file-run {
	display: flex;
	cursor: pointer;
	user-select: none;
	opacity: .6;
	transition: all .2s ease;
	position: relative;
	width: 130px;
	background-color: #0d0d0d;
	padding: 4px;
	margin: 0 0 0 2px;
	/*border-top-right-radius: 15px;*/
}

.wrapper  .code-editor-main  .nav-file .active {
	border-bottom: 2px solid #00bcd4;
}

.wrapper  .code-editor-main  .nav-file .new-tab {
	width: 35px;
	height: 34.5px;
	position: relative;
}

.wrapper  .code-editor-main  .nav-file .new-tab img {
	position: absolute;
	width: 15px;
	left: 60%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: .7;
	cursor: pointer;
	transition: all .5s ease;
}

.wrapper  .code-editor-main  .nav-file .new-tab img:hover {
	opacity: 1;
}

.wrapper  .code-editor-main  .nav-file  .file-run:hover {
	opacity: 1;
}

.wrapper  .code-editor-main  .nav-file  .file-run  .icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-40%);
}

.wrapper  .code-editor-main  .nav-file  .file-run  .icon img {
	width: 15px;
	height: 15px;
}

.wrapper  .code-editor-main  .nav-file  .file-run  .title {
	font-size: 15px;
	line-height: 25px;
	margin: 0 0 0 10px;
}


.code-editor-main {
	width: 100vw;
	display: flex;
}

.code-editor-main .left-asgn {
	width: 60%;
}

.code-editor-main .right-asgn {
	width: 40%;
}

.code-editor-main .right-asgn div[name=react-console-emulator] {
	box-sizing: border-box;
}

input[name=react-console-emulator__input] {
	outline:none;
}

/* ace bar */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1f21; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #43484e;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #43484e; 
}